.login-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.login-video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.login-bg-overlay {
  position: relative;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-logo {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 2px;
}


.custom-login-card {
  width: 420px;
  padding: 30px;
  border-radius: 14px;
  background: transparent;
  min-height: 55vh;
  backdrop-filter: blur(12px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Header */
.custom-login-card .header h3 {
  margin-bottom: 5px;
  font-weight: 600;
}

.custom-login-card .header p {
  font-size: 14px;
  opacity: 0.85;
}

/* ===== Inputs ===== */
.custom-input {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  height: 44px;
  border-radius: 8px;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #fff;
}

/* ===== Options ===== */
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 20px;
  font-size: 13px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
}

.forgot-link {
  color: #fff;
  opacity: 0.85;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* ===== Button ===== */
.login-btn {
  width: 100%;
  height: 44px;
  background: #5a4bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #4738e8;
}

/* ===== Mobile ===== */
@media (max-width: 480px) {
  .custom-login-card {
    width: 90%;
  }
}